*{
    box-sizing: border-box  
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("FotoInicio.jpg");
    background-size: 100%;
    background-position-y: 1000px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#Q{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 3px;
}

.logo{
    width: 225px; 
    height: 150px;
    margin-top: none;
}

.menu{
    border-radius: 15px;
    font-family: 'Secular One', sans-serif;
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.menu li{
    text-align: left;
    display: inline-block;
}

.menu li a:hover{
    background: #622c2c;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.titulo1{
    font-family: 'Black Ops One';
    border: solid black;
    text-align: center;
    font-size: 75px;
    background: rgb(215,0,0);
    background: radial-gradient(circle, rgba(215,0,0,1) 46%, rgba(124,0,0,1) 100%);
}

div{
    display: flex;
    flex-direction: column;
}

#A{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}

.c1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mancuerna{
    width: 400px;
    
}

.boton{
    font-family: 'Black Ops One';
    font-size: 55px;
    background: linear-gradient(yellow ,rgb(51, 50, 50));
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
}

.boton2{
    font-family: 'Black Ops One';
    font-size: 55px;
    color: rgb(188, 188, 30);
    text-shadow: 3px 3px black;
    position: absolute;
}

.titulo2{
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 80px;
    font-size: 50px;
}

.texto1{
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 80px;
    font-size: 20px;
}

.servicios{
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 80px;
    font-size: 20px;
}

.desplegable{
    font-size: 20px;
    margin-left: 80px;
}

.servicios{
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 80px;
    font-size: 20px;
}

.experiencia{
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
}

.botones{
    margin-left: 80px;
    font-size: 20px;
}

.botones1{
    font-size: 20px;
}

.pie1{
   
}

.pie2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 50px;
    justify-content: space-around;
    margin-left: 90%;
    margin-top: 27%;
}

